.list-group {
    min-height: calc(100vh - 344.28px);
    max-height: calc(100vh - 344.28px);
    overflow-y: scroll;
    flex-direction: column-reverse !important;
}

.md-form .prefix {
    left: 0
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 3px;
	background-color: #ECEFF1;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #424242;
}
